<h1 class="text-5xl text-center text-orange-600 "> Our About </h1> 
            <div class="max-w-xs p-6 rounded-md shadow-md dark:bg-gray-900 dark:text-gray-50 mx-auto my-10">
                <img src="https://st3.depositphotos.com/5665934/18567/v/600/depositphotos_185670270-stock-illustration-two-student-girls-studying-doing.jpg" alt="" class="object-cover object-center w-full rounded-md h-72 dark:bg-gray-500">
                <div class="mt-6 mb-2">
                    <span class="block text-xs font-medium tracking-widest uppercase dark:text-violet-400">Quisque</span>
                    <h2 class="text-xl font-semibold tracking-wide">Nam maximus purus</h2>
                </div>
                <button type="button" class="flex items-center justify-center w-full p-3 font-semibold tracking-wide rounded-md dark:bg-violet-400 dark:text-gray-900 bg-orange-400">Click me</button>
            </div>