<section class="dark:text-gray-100">
  <div class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
    <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
      <h1 class="text-5xl font-bold leading-none sm:text-6xl text-black">Find Your Perfect
        <span class="text-blue-600">Place With Homie</span>
      </h1>
            <p class="mt-6 mb-8 text-lg sm:mb-5 text-black">Adopt your home to your needs and make it a sanctuary on earth.
        <br class="hidden md:inline lg:hidden">We provide a complete service for renting or buying real estate properties.
      </p>
      <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start text-center">
        <a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold rounded dark:bg-violet-400 dark:text-gray-900 bg-blue-600 hover:bg-blue-700 text-white center">Rental</a>
        <a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold border rounded dark:border-gray-100 bg-stone-900 text-white hover:text-red-400 hover:bg-gray-900">FIND A ROOMMATE</a>
      </div>
    </div>
    <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 w-full">
      <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/15152/house-home-residence-clipart-md.png" alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 w-full">
    </div>
  </div>
</section>
